.table {
    display: flex;
    justify-content: space-around;
}

.table-header {
    display: flex;
    justify-content: space-around;
    background-color: #C4C4C4;
    width: 941px;
}

.table-appointments {
    background-color: white;
}