.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  border-collapse: collapse;

  &-header {
    background-color: #c4c4c4;
    height: 42px;
    width: 1441px;
    border-bottom: 1px solid black;

    &-appointments {
      display: flex;
      justify-content: space-around;
      margin-top: 10px;

      &__column {
        width: 162px;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        width: 340px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &__empty {
        width: 100px;
      }
    }
  }

  &-body {
    background-color: white;
    height: 42px;
    width: 1441px;

    &-appointments {
      display: flex;
      justify-content: space-around;

      &__column {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid black;
        border-top: 0;
        width: 340px;
        padding: 10px;
      }

      &-buttons {
        display: flex;
        justify-content: center;
        width: 100px;
        border: 1px solid black;
        height: 39px;

        &__button {
          margin: 10px;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 940px) {
  .table-header {
    width: 741px;
  }

  .table-body {
    width: 741px;
  }
}

@media (max-width: 740px) {
  .table-header {
    width: 641px;
  }

  .table-body {
    width: 641px;
  }
}

@media (max-width: 640px) {
  .table-header {
    width: 541px;
  }

  .table-body {
    width: 541px;
  }
}

@media (max-width: 540px) {
  .table-header {
    width: 400px;
  }
}
