.authorization {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 450px;
  background-color: white;
  border-radius: 5px;
  &__input {
    width: 320px;
    height: 40px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    font-weight: 300;
  }
  &__button {
    width: 150px;
    height: 40px;
    background-color: white;
    margin-top: 30px;
    margin-left: 175px;
    font-weight: 300;
  }
  &__title {
    font-size: 36px;
    font-weight: 300;
  }
  &__input__error {
    width: 320px;
    height: 40px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    font-weight: 300;
    border-color: red;
  }
}

.user-form {
  &__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 110px;
    background-color: #c5e9ff;
  }
  &__body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
  }
  &__title {
    font-size: 36px;
    margin-left: 100px;
    font-weight: 300;
  }
  &__header {
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

@media (max-width: 800px) {
  .authorization {
    width: 300px;
    height: 350px;
    &__input {
      width: 220px;
      height: 30px;
    }
    &__input__error {
      width: 220px;
      height: 30px;
    }
    &__button {
      width: 100px;
      height: 30px;
    }
  }
  .user-form__image {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 650px) {
  .user-form__body {
    display: flex;
    flex-direction: column;
  }
  .authorization {
    margin-top: 50px;
  }
}
