.header {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  
  &__title {
    margin-left: 50px;
    font-size: 36px;
    font-weight: 300;
  }
  &-box {
    display: flex;
    font-size: 24px;
    &__title {
      margin-left: 35px;
    }
  }
}

@media (max-width: 800px) {
  .header__title {
    font-size: 24px;
  }
}

@media (max-width: 650px) {
  .header__title {
    font-size: 20px;
  }
}

